annotated-doc==0.0.4
annotated-types==0.6.0
anyio==4.12.1
applicationinsights==0.11.10
argcomplete==3.5.3
asgiref==3.11.1
azure-cli-core==2.85.0
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-core==1.39.0
azure-core-tracing-opentelemetry==1.0.0b13
azure-functions==1.24.0
azure-identity==1.25.3
azure-keyvault-secrets==4.11.0
azure-mgmt-azurestackhci==8.0.0
azure-mgmt-compute==38.0.0
azure-mgmt-core==1.6.0
azure-mgmt-hybridcompute==9.0.0
azure-mgmt-network==30.2.0
azure-mgmt-resource==25.0.0
azure-mgmt-resource-deployments==1.0.0b1
azure-monitor-opentelemetry==1.8.9
azure-monitor-opentelemetry-exporter==1.0.0b55
boto3==1.43.46
botocore==1.43.46
brotlicffi==1.2.0.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
cryptography==46.0.7
dnspython==2.8.0
dotenv==0.9.9
ecdsa==0.19.2
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.135.4
fastapi-cli==0.0.20
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanfriendly==10.0
idna==3.11
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.1.0
knack==0.11.0
logger==1.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
microsoft-security-utilities-secret-masker==1.0.0b4
MouseInfo==0.1.3
msal==1.35.1
msal-extensions==1.2.0
msrest==0.7.1
numpy==2.3.4
oauthlib==3.3.1
openpyxl==3.1.5
opentelemetry-api==1.43.0
opentelemetry-instrumentation==0.64b0
opentelemetry-instrumentation-asgi==0.64b0
opentelemetry-instrumentation-dbapi==0.64b0
opentelemetry-instrumentation-django==0.64b0
opentelemetry-instrumentation-fastapi==0.64b0
opentelemetry-instrumentation-flask==0.64b0
opentelemetry-instrumentation-logging==0.64b0
opentelemetry-instrumentation-psycopg2==0.64b0
opentelemetry-instrumentation-requests==0.64b0
opentelemetry-instrumentation-urllib==0.64b0
opentelemetry-instrumentation-urllib3==0.64b0
opentelemetry-instrumentation-wsgi==0.64b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.43.0
opentelemetry-semantic-conventions==0.64b0
opentelemetry-util-http==0.64b0
packaging==26.0
pandas==2.3.3
pip==25.2
pkginfo==1.12.1.2
portalocker==2.3.0
psutil==7.2.2
pyasn1==0.6.3
PyAutoGUI==0.9.54
pycparser==3.0
pydantic_core==2.46.4
pydantic==2.13.4
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
py-deviceid==0.1.1
PyGetWindow==0.0.9
Pygments==2.20.0
PyJWT==2.12.1
pymsalruntime==0.20.6
PyMsgBox==2.0.1
pyodbc==5.3.0
pyOpenSSL==26.0.0
pyperclip==1.11.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.29
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
rich==15.0.0
rich-toolkit==0.17.1
rsa==4.9.1
s3transfer==0.19.1
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
starlette==0.52.1
tabulate==0.10.0
typer==0.25.1
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.7.0
uvicorn==0.40.0
watchfiles==1.2.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.46.3
win_inet_pton==1.1.0
wrapt==2.2.2
xlrd==2.0.2
